:root {
  --DesaturatedDarkCyan: hsl(180, 29%, 50%);
  --Light-Grayish-Cyan: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: lato;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
